@font-face {
  /* 自定义的字体名车，调用该字体时使用 */
  font-family: "思源黑体-Medium";
  /* 引用字体包 */
  src: url('SourceHanSansCN-Medium.ttf');
}


@font-face {
  /* 自定义的字体名车，调用该字体时使用 */
  font-family: "思源黑体-Normal";
  /* 引用字体包 */
  src: url('SourceHanSansCN-Normal.ttf');
}

@font-face {
  /* 自定义的字体名车，调用该字体时使用 */
  font-family: "思源黑体-Regular";
  /* 引用字体包 */
  src: url('SourceHanSansCN-Regular.ttf');
}

@font-face {
  /* 自定义的字体名车，调用该字体时使用 */
  font-family: "思源-Medium";
  /* 引用字体包 */
  src: url('SourceHanSansCN-Medium.ttf');
}


@font-face {
  /* 自定义的字体名车，调用该字体时使用 */
  font-family: "思源-Normal";
  /* 引用字体包 */
  src: url('SourceHanSansCN-Normal.ttf');
}

@font-face {
  /* 自定义的字体名车，调用该字体时使用 */
  font-family: "思源-Regular";
  /* 引用字体包 */
  src: url('SourceHanSansCN-Regular.ttf');
}

@font-face {
  font-family: 'Baoli';
  src: url('./Baoli.ttc');
}


@font-face {
  font-family: 'Baoli-2';
  src: url('./Baoli-2.ttc') ;
}

@font-face {
  font-family: 'Baoli-3';
  src: url('./Baoli-3.ttc') ;
}
